<!DOCTYPE html>
<html lang="en">

<head>
  <title>Anime List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
    .tab-pane {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .anime-list-icon {
      height: 80px;
      margin-right: 10px;
    }

    .list-group-item {
      padding: 0;
    }
  </style>
</head>

<body>
  <div class="container">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#current">Current</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#planning">Planning</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#completed">Completed</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#dropped">Dropped</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#paused">Paused</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#repeating">Repeating</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane container active" id="current">
        <ul class="list-group">
          <% animeList.CURRENT.forEach(function(i){ %>
          <li class="list-group-item" data-anime="<%= JSON.stringify(i) %>">
            <div class="d-flex flex-row align-items-center">
              <div class="mr-auto">
                <img src="<%= i.media.coverImage.medium %>" class="anime-list-icon" />
                <%= i.media.title.english || i.media.title.romaji %>
              </div>
              <div class="p-3" id="<%= i.media.id %>Progress">
                <%= i.progress %>/<%= i.media.episodes %>
              </div>
              <div class="p-3">
                <button class="btn btn-primary" onclick="decProgress(this)">
                  -
                </button>
                <button class="btn btn-primary" onclick="incProgress(this)">
                  +
                </button>
              </div>
            </div>
          </li>
          <% }); %>
        </ul>
      </div>

    </div>
  </div>

  <script>
    const requestOptions = {
      method: "post",
      headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
      },
    };

    async function incProgress(btn) {
      const listItem = $(btn).parent().parent().parent();
      const mediaData = listItem.data("anime");

      if (mediaData.progress != mediaData.media.episodes) {

        const res = await fetch("/update_progress", {
          ...requestOptions,
          body: JSON.stringify({
            mediaId: mediaData.media.id,
            episodes: mediaData.media.episodes,
            malId: mediaData.media.idMal,
            progress: parseInt(mediaData.progress) + 1
          }),
        });

        const parsedResponse = await res.json();
        const data = parsedResponse.data;

        console.log(data);

      }
    }

    function decProgress(btn) {
      console.log(e);

    }
  </script>

</body>

</html>